@font-face {
  font-family: "MoonDance-Regular";
  src: url("../fonts/MoonDance-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
