/* SECTION CLOUD */

.section-cloud {
  --size: 1rem;
  --padding-section: 4rem 1rem;
  --padding-plane: 0 0 5rem 0;
  --color-sand: #fef1e5;
  --color-cloud: #c4def4;
  --color-text: #074467;
  --dash-array: 1257;
}

@media screen and (min-width: 768px) {
  .section-cloud {
    --size: 2rem;
    --padding-section: 3rem;
    --padding-plane: 4rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .section-cloud {
    --padding-section: 5rem 0;
    --padding-plane: 0 15rem 5rem;
  }
}

.section-cloud {
  background-color: var(--color-cloud);
  font-size: var(--size);
  font-family: "Montserrat-Italic", sans-serif;
  color: var(--color-text);
}

.section-cloud__wrapper {
  width: 100%;
  background-color: var(--color-cloud);
  /* min-height: 100vh; */
  padding: var(--padding-section);
}

/* CLOUD DIVIDER */

.section-cloud__divider {
  width: 100%;
  position: relative;
  background-color: var(--color-sand);
}

.section-cloud__divider img {
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
}

.section-cloud__divider::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  left: 0;
  background-color: var(--color-cloud);
  z-index: 1;
}

/* PLANE & ROUTE */

.section-cloud__plane-wrapper {
  padding: var(--padding-plane);
  width: 100%;
  overflow: visible;
}

.section-cloud__plane-wrapper svg {
  width: 100%;
  overflow: visible;
}

#plane {
  width: 50px;
}

.section-cloud__plane-wrapper svg .dashed {
  stroke-dasharray: 5;
}

.section-cloud__plane-wrapper svg .path {
  stroke-dasharray: var(--dash-array);
  stroke-dashoffset: var(--dash-array);
  /* animation: dash 5s linear alternate infinite; */
}

/* GIFT */

.section-cloud__gift-info {
}

.section-cloud__wedding-list {
  margin-bottom: 1rem;
}
.section-cloud__iban {
}
