/* SECTION SKY */

.section-sky {
  --sun: 3rem;
  --sun-space: 3rem;
  --cloud: 10rem;
  --size-text: 4rem;
  --link: 3rem;
  --wave-height: 6rem;
  --wave-width: 40rem;
  --color-sky: #87c6d8;
  --color-sun: #ffdb85;
  --color-star: #ffffff;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
  .section-sky {
    --sun: 5rem;
    --sun-space: 5rem;
    --cloud: 15rem;
    --size-text: 7rem;
    --link: 3.5rem;
    --wave-height: 10rem;
    --wave-width: 60rem;
  }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
  .section-sky {
    --sun: 5rem;
    --sun-space: 8rem;
    --cloud: 20rem;
    --size-text: 7rem;
    --link: 3rem;
    --wave-height: 8rem;
    --wave-width: 55rem;
  }
}

.section-sky {
  position: relative;
  height: 100vh;
  width: 100%;
  transition: background-color 0.5s linear;
  background-color: var(--color-sky);
  z-index: 1;
  overflow: hidden;
}

/* SUN */

.section-sky__sun {
  background-color: var(--color-sun);
  height: var(--sun);
  width: var(--sun);
  border-radius: 50%;
  position: absolute;
  margin: var(--sun-space) 0 0 var(--sun-space);
  z-index: 1;
  box-shadow: 0 0 0 0.62em rgba(255, 219, 133, 0.6),
    0 0 0 1.25em rgba(255, 219, 133, 0.5), 0 0 0 1.9em rgba(255, 219, 133, 0.4);
  /* transform: translate(calc(100vw - 300%), calc(100vh - 100%)); */
}

/* SUN CLOUD */

.section-sky__cloud {
  position: absolute;
  height: var(--cloud);
  width: var(--cloud);
  animation: animate 4s ease-in-out infinite;
  z-index: 1001;
  opacity: 1;
  top: 0;
  left: 0;
  background: url(../images/cloud.png);
  background-size: var(--cloud) var(--cloud);
}

/* INTRO LABEL */

.section-sky__intro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-sky__intro-label {
  font-size: var(--size-text);
  color: #fff;
  font-family: "MoonDance-Regular";
  z-index: 2;
  text-align: center;
}

/* STARS */

.section-sky__star,
.section-sky__star::before,
.section-sky__star::after {
  height: 0.18rem;
  width: 0.18rem;
  background-color: var(--color-star);
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  animation: twinkle 2s infinite;
  animation-delay: calc(var(--star) * 0.25s);
  visibility: hidden;
}
.section-sky__star.visible,
.section-sky__star.visible::before,
.section-sky__star.visible::after {
  visibility: visible;
}
.section-sky__star-1 {
  bottom: 14rem;
  left: 18.75rem;
}
.section-sky__.star-1::before {
  content: "";
  bottom: 1.9rem;
  left: -16.75rem;
}

.section-sky__star-1::after {
  content: "";
  bottom: 5rem;
  left: -12.75rem;
}

.section-sky__star-2 {
  bottom: 7rem;
  right: 7rem;
}

.section-sky__star-2::before {
  content: "";
  bottom: 6.9rem;
  left: -6.75rem;
}

.section-sky__star-2::after {
  content: "";
  bottom: 9rem;
  left: 3.75rem;
}

.section-sky__star-3 {
  bottom: 11rem;
  left: 63%;
}

.section-sky__star-3::before {
  content: "";
  bottom: 13.9rem;
  left: -9.75rem;
}

.section-sky__star-3::after {
  content: "";
  bottom: 9rem;
  left: 3.75rem;
}

.section-sky__star-4 {
  bottom: 7rem;
  left: 50%;
}

.section-sky__star-4::before {
  content: "";
  bottom: 13.9rem;
  left: -9.75rem;
}

.section-sky__star-4::after {
  content: "";
  bottom: 9rem;
  left: 3.75rem;
}

/* RAPID BOTTOM LINK */

.section-sky__rapid-link {
  position: absolute;
  left: 50%;
  bottom: 2%;
  z-index: 1000000;
  height: var(--link);
  width: var(--link);
  border-radius: 50%;
  border: 3px solid var(--color-sky);
  animation: animateLink 4s ease-in-out infinite;
  transition: opacity 0.5s ease-in-out;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WAVES SECTIONS DIVIDER */

.section-sky__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--wave-height);
  background: url(../images/wave.png);
  background-size: var(--wave-width) var(--wave-height);
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(var(--wave) * 0.25s);
}

.section-sky__wave-1 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 25rem;
}

.section-sky__wave-2 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 20rem;
}

.section-sky__wave-3 {
  z-index: 998;
  opacity: 0.2;
  background-position-x: 15rem;
}

.section-sky__wave-4 {
  z-index: 997;
  opacity: 0.7;
  background-position-x: 10rem;
}
